
@{
    ViewBag.Title = "PasswordChange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FinalProject.Dto.DTO.AccountDTO.AccountPassChange

<div class="col-md-9">
    <div class="col-md-12 page-body">
        <div class="row">
            <div class="col-md-12 content-page">
                <div class="col-md-12 blog-post">
                    @using (Html.BeginForm("PasswordChange", "AppUser", FormMethod.Post))
                    {
                        @ViewBag.Message
                        <div class="form-group">
                            @Html.LabelFor(user => user.OldPassword)
                            @Html.PasswordFor(user => user.OldPassword, new { @class = "form-control" })
                            <p>      @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })</p>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(user => user.AgainPassword)
                            @Html.PasswordFor(user => user.AgainPassword, new { @class = "form-control" })
                            <p>      @Html.ValidationMessageFor(model => model.AgainPassword, "", new { @class = "text-danger" })</p>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(user => user.NewPassword)
                            @Html.PasswordFor(user => user.NewPassword, new { @class = "form-control" })
                            <p>      @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })</p>
                        </div>
                        <input type="submit" value="Güncelle" class="form-control btn btn-primary" />
                    }
                    <br />
                    <div>
                        @Html.ActionLink("Sayfaya Geri Dön", "AccountSetting", null, new { @class = "form-control btn btn-warning" })
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

